body {
  background-color: rgba(0, 0, 0, 0.01);
  color: #232323;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

strong {
  color: #6519FF;
}

em {
  color: #6519FF
}

.logo {
  height: auto;
  width: 80px;
}